<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl"><%= current_page?(new_admin_article_path) ? '创建文章' : '编辑文章' %></div>
                    </div>
                    <div class="widget-body am-fr">
                        <%= form_with model: [:admin, @article], class: ["am-form", "tpl-form-line-form"] do |form| %>
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label"><%= Article.human_attribute_name(:title) %> <span class="tpl-form-line-small-title">Title</span></label>
                                <div class="am-u-sm-9 field_with_errors">
                                    <%= form.text_field :title, class:"tpl-form-input", placeholder: "请输入文章标题" %>
                                    
                                    <% if @article.errors.where(:title).any? %>
                                    <small><%= @article.errors.where(:title).first.full_message %></small>
                                    <% end %>
                                    
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label"><%= Article.human_attribute_name(:author) %> <span class="tpl-form-line-small-title">Title</span></label>
                                <div class="am-u-sm-9 field_with_errors">
                                    <%= form.text_field :author, class:"tpl-form-input", placeholder: "请输入作者姓名" %>
                                    <% if @article.errors.where(:author).any? %>
                                    <small><%= @article.errors.where(:author).first.full_message %></small>
                                    <% end %>
                                    
                                </div>
                            </div>     
                            <div class="am-form-group">
                                <label for="user-intro" class="am-u-sm-3 am-form-label">显示文章</label>
                                <div class="am-u-sm-9">
                                    <div class="tpl-switch">
                                        <%= form.check_box :status, {class: "ios-switch bigswitch tpl-switch-btn"}, "active" , "non_check" %>
                                        <div class="tpl-switch-btn-view">
                                            <div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>                        
                            <div class="am-form-group">
                                <label for="user-intro" class="am-u-sm-3 am-form-label"><%= Article.human_attribute_name(:context) %></label>
                                <div class="am-u-sm-9 field_with_errors">
                                    <%= form.text_area :context, placeholder: "请输入文章内容", rows: "10" %>
                                    <% if @article.errors.where(:context).any? %>
                                    <small><%= @article.errors.where(:context).first.full_message %></small>
                                    <% end %>
                                </div>
                            </div>
                            
                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <%= form.button "提交", class: "am-btn am-btn-primary tpl-btn-bg-color-success" %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        