<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">文章列表</div>
                        
                        
                    </div>
                    <div class="widget-body  am-fr">
                        
                        <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <div class="am-form-group">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <%= link_to new_admin_article_path do  %>
                                        <button type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                            <div class="am-form-group tpl-table-list-select">
                                <select data-am-selected="{btnSize: 'sm'}">
                                    <option value="option1">所有类别</option>
                                    <option value="option2">#</option>
                                    <option value="option3">#</option>
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                            <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                <input type="text" class="am-form-field ">
                                <span class="am-input-group-btn">
                                    <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
                                </span>
                            </div>
                        </div>
                        
                        <div class="am-u-sm-12">
                            <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                <thead>
                                    <tr>
                                        <th>文章标题</th>
                                        <th>作者</th>
                                        <th>时间</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% @articles.each do |article| %>
                                    <tr class="gradeX">
                                        <td><%= article.title %></td>
                                        <td><%= article.author %></td>
                                        <td><%= article.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
                                        <td>
                                            <div class="tpl-table-black-operation">
                                                <%= link_to edit_admin_article_path(article) do %> 
                                                    <i class="am-icon-pencil"></i> 编辑
                                                <% end %>
                                                <%= link_to admin_article_path(article) , class: "tpl-table-black-operation-del" do %>
                                                    <i class="am-icon-trash"></i> 删除
                                                <% end %>
                                            </div>
                                        </td>
                                    </tr>
                                <% end %>
                                    <!-- more data -->
                                </tbody>
                            </table>
                        </div>
                        <div class="am-u-lg-12 am-cf">
                            
                            <div class="am-fr">
                                <ul class="am-pagination tpl-pagination">
                                    <% page = (params[:page] || 1).to_i 
                                        max_page = (Article.count(:id)/Article::per_page) + 1
                                        puts max_page
                                        index_page = max_page > (page + 2) ? (page + 2) : max_page
                                    %>
                                    <li class="<%= (page == 1) ? 'am-disabled' : '' %>"><%= link_to "«" , admin_articles_path(page.to_i - 1)  %></li>
                                    <% 
                                    case page
                                    when 1,2
                                        (1..index_page).each do |i| 
                                    %>
                                    <li class="<%= (page == i) ? 'am-active' : '' %>"><%= link_to i , admin_articles_path(i)  %></li>
                                    <%  end
                                    else
                                        (page-2..index_page).each do |i| %>
                                    <li class="<%= (page == i) ? 'am-active' : '' %>"><%= link_to i , admin_articles_path(i)  %></li>    
                                    <%  end
                                    end
                                    %>
                                    <li class="<%= (page == max_page) ? 'am-disabled' : '' %>"><%= link_to "»" , admin_articles_path(page.to_i + 1)  %></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
