<!-- header start -->
<%= render "layouts/header" %>
<!-- header end -->
<!-- topbar start -->
<%= render "layouts/topbar" %>
<!-- topbar end -->
<!-- content start -->
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-md-10 am-u-sm-12">
        <!-- article start -->
        <article class="am-article blog-article-p">
            <div class="am-article-hd">
                <h1 class="am-article-title blog-text-center"><%= @article.title %></h1>
                <p class="am-article-meta blog-text-center">
                    <span>人生 &nbsp;</span>
                    <span>@<%= @article.author %> &nbsp;</span>-
                    <span><%= time_ago_in_words @article.created_at %></span>
                </p>
            </div>        
            <div class="am-article-bd markdown-body" id="article-context">
                
            </div>
        </article>
        <!-- article end -->
        <!-- pagination start -->
        <!-- <ul class="am-pagination">
            <li class="am-pagination-prev"><a href="">&laquo; Prev</a></li>
            <li class="am-pagination-next"><a href="">Next &raquo;</a></li>
        </ul> -->
        <!-- pagination end -->
    </div>
    <!-- sidebar start -->
    <!-- sidebar end -->
</div>
<!-- content end -->
<!-- footer start -->
<!-- footer end -->
<script type="module">
  import { marked } from "/assets/js/marked.esm.js";
  var article_context = `<%= @article.context %>`;
  document.getElementById('article-context').innerHTML = marked.parse(article_context);

</script>


