<!-- header start -->
<%= render "layouts/header" %>
<!-- header end -->
<!-- topbar start -->
<%= render "layouts/topbar" %>
<!-- topbar end -->
<!-- content start -->
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-md-8 am-u-sm-12">
        <!-- article start -->
        <% @articles = Article.all %>
        <%= render partial: "layouts/article", collection: @articles %>
        <!-- article end -->
        <!-- pagination start -->
        <!-- <ul class="am-pagination">
            <li class="am-pagination-prev"><a href="">&laquo; Prev</a></li>
            <li class="am-pagination-next"><a href="">Next &raquo;</a></li>
        </ul> -->
        <!-- pagination end -->
    </div>
    <!-- sidebar start -->
    <%= render "layouts/sidebar" %>
    <!-- sidebar end -->
</div>
<!-- content end -->
<!-- footer start -->
<%= render "layouts/footer" %>
<!-- footer end -->

