<article class="am-g blog-entry-article">
    <%= link_to article do %>
    <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
        <img src="/assets/i/f10.jpg" alt="" class="am-u-sm-12">
    </div>
    <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
        <span>article &nbsp;</span>
        <span> @<%= article.author %> &nbsp;</span>
        <% # time_ago_in_words 距离当前时间的间隔 %>
        <span><%= time_ago_in_words article.created_at %></span>
        <h1><%= article.title %></h1>
        <p><%= article.context %>
        </p>
    </div>
    <% end %>
</article>